.vs/
.vscode/

Build/**/*

Src/TestResults/**/*
bin/
obj/
last-test
Thumbs.db
Package/Binaries/
Package/Sources/
Package/IronJS.snk

*.baml
*.[Cc]ache
*.config
*.dia
*.dia~
*.docstates
*.exe
*.force
*.log
*.manifest
*.nupkg
*.orig
*.pdb
*.resources
*.suo
*.tlog
*.trx
*.user
*.xml
*.XML

.fake
.ionide
